// Content selector item styles are defined in the parent content-selector.scss
// This file exists for component completeness

.c-content-selector__panel {
  // Additional panel specific styles can be added here
}
