.c-button {
  // Button base styles
  cursor: pointer;
  text-decoration: none;

  &:focus {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &:active {
    transform: scale(0.98);
  }
}
