---
title: 'Blog'
summary: 'A feed of the latest posts from our blog.'
permalink: '/feed.xml'
templateEngineOverride: liquid
layout:
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
  <title>{{ title }}</title>
	<subtitle>{{ summary }}</subtitle>
	<link href="{{ site.url }}{{ permalink }}" rel="self"/>
	<link href="{{ site.url }}/"/>
	<updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ site.url }}</id>
	{% for post in collections.blog %}
    {% capture bookshopContent %}
      {% if post.data.editorial_blocks %}
        {% bookshop_include "doc" editorial_blocks: post.data.editorial_blocks %}
      {% endif %}
    {% endcapture %}
    {% capture absolutePostUrl %}{{ site.url }}{{ post.url | url }}{% endcapture %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc882 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <author>
        {% assign query= "$[?(@.id == '"| append: post.data.author | append: "')].name" %}
        {% assign authorName= authors | jsonPathFilter: query %}
        <name>{{ authorName[0] }}</name>
      </author>
      <link rel="enclosure" href="{{ post.data.blogImage | default: blog.defaultImage  }}" type="{{ post.data.blogImage | default: blog.defaultImage | getMimeType }}" />
      <media:content medium="image" url="{{site.url}}{{ post.data.blogImage | default: blog.defaultImage  }}" />
      <content type="html"><![CDATA[{{ bookshopContent | append: post.templateContent | renderTransforms | sanitizeRss }}]]></content>
    </entry>
	{% endfor %}
</feed>