.c-list {
  margin: 0;
  padding: 0;

  // Unordered list
  &--unordered {
    list-style-type: disc;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  // Ordered list
  &--ordered {
    list-style-type: decimal;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  // No markers
  &--none {
    list-style: none;

    li {
      margin-bottom: 0.5rem;
    }
  }

  // Icon/Check list
  &--icon,
  &--check {
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
  }

  &__icon {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.125rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    flex: 1;
  }
}
