.c-embed {
  position: relative;

  // Make embedded iframes fill the container
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  // Handle other embedded content
  > * {
    max-width: 100%;
  }
}
