// Accordion item styles are defined in the parent accordion.scss
// This file exists for component completeness

.c-accordion__item {
  // Additional accordion item specific styles can be added here
}
